{% extends 'base.html.twig' %}



{% block content %}
    <section class="content blog-page">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Mon profil
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i>Profil</a></li>
                        <li class="breadcrumb-item active"><a href="blog-dashboard.html">Profil</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-12">
<div class="card profile-header">
                    <div class="body">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-12">
                                <div class="profile-image"> <img src="{{ asset('assets/Oreo/images/profile_av.jpg') }}" alt=""> </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-12">
                                <div class="pl-2">
                                <h4 class="m-t-0 m-b-0"><strong>Nom</strong> Prenom</h4>
                                <span class="job_post">username</span>
                                <p>email</p>
                                <p><strong>Entreprise: </strong> Nom de l'entreprise</p>
                                </div>

                                <div>
                                    <button class="btn btn-primary btn-round " data-toggle="modal" data-target="#UserInfoModal">Modifier mes informations personnelles</button>
                                    <br />
                                    <a><button class="btn btn-primary btn-round btn-simple">Mes entreprises</button></a>
                                    <a><button class="btn btn-primary btn-round btn-simple">Mes groupes</button></a>
                                    <a href="{{ path('event_show') }}"><button class="btn btn-primary btn-round btn-simple">Mes evenements</button></a>
                                </div>
                            </div>                
                        </div>
                    </div>                    
                </div>
     
                </div>
                <div class="col-lg-4 col-md-12 right-box">
                    <div class="card">
                      
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2><strong>Evenements à venir :</strong></h2>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header">
                            <h2><strong>Afterwork</strong> 12/08/2018 </h2>
                            <p>Paris - 12</p>
                            <p>Groupe: Nom du groupe</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header">
                            <h2><strong>Soirée Societe G</strong> 18/08/2018 </h2>
                            <p>Montreal</p>
                            <p>Groupe: Nom du groupe</p>
                        </div>
                    </div>
            </div>
        </div>
    </section>


    <div class="modal fade" id="UserInfoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">Modifier mes informations personnelles</h4>
            </div>
            <div class="modal-body">
                    {# form(formAddGroupe) #}
                    <form class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Nom">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="username">
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="email">
                                        </div>
                                    </div>
                                <div class="col-sm-12">
                                <div class="form-group">
                                    <h6>Entreprise :</h6>
                                <select class="form-control show-tick">
                                    <option value="">Choisir une entreprise</option>
                                    <option value="1">Societe G</option>
                                    <option value="1">After tech..</option>
                                </select>
                            </div>
                             </div>
                             <div class="col-sm-12">
                            <div class="form-group">
                                <h6>Modifier le mot de passe:</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Mot de passe">
                                        </div>
                                    </div>

                                     <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="confirmer le mot de passe">
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}