{% extends 'base.html.twig' %}



{% block content %}

    <div class="container mt-5 pt-5">
    <div class="col-md-12 content-center">
    <div class="card-plain">
{% block fos_user_content %}
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock fos_user_content %}

    </div>
    </div>
    </div>

{% endblock %}
