{% extends 'base.html.twig' %}



{% block content %}
    <section class="content blog-page">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Mes Groupes
                        <small>La team</small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i>Profil</a></li>
                        <li class="breadcrumb-item active"><a href="blog-dashboard.html">Groupe</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-8 col-md-12">

   
                    {{ form(formGroupe) }}

                </div>
            </div>
        </div>
    </section>
{% endblock %}

