{% extends 'base.html.twig' %}



{% block content %}
    <section class="content blog-page">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Mes Groupes
                        <small>La team</small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i>Profil</a></li>
                        <li class="breadcrumb-item active"><a href="blog-dashboard.html">Groupe</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
                 <button type="button" class="btn btn-primary waves-effect m-r-20" data-toggle="modal" data-target="#defaultModal">Ajouter un groupe</button>
            <div class="row mt-5">
                
                

                <div class="col-lg-8 col-md-12">

                        <div class="body table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for groupes in groupe %}
                                 <tr>
                                    <td>{{ groupes.nom }}</td>
                                 </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                 

           

                </div>
            </div>


        </div>
    </section>

    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">Ajouter un groupe</h4>
            </div>
            <div class="modal-body"> 
                    {{ form(formAddGroupe) }} 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
    <!-- {{ form(formAddGroupe) }} -->
{% endblock %}

