
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/Database/
/Database/*
/web/*
###< symfony/framework-bundle ###

Database/auto\.cnf

Database/ib_buffer_pool

Database/ib_logfile0

Database/ibdata1

composer\.lock

Database/ibtmp1

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###
Database/afterwork/groupe.ibd
Database/afterwork/groupe.ibd
