fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

fos_js_routing:
    resource: "@FOSJsRoutingBundle/Resources/config/routing/routing.xml"

adesigns_calendar:
    resource: "@ADesignsCalendarBundle/Resources/config/routing.xml"

index:
    path: /
    defaults: { _controller: 'App\Controller\LandingController::indexAction' }

contributing:
    path: /contributing
    defaults: { _controller: 'App\Controller\LandingController::contributingAction' }

user_connexion:
    path: /connexion
    defaults: { _controller: 'App\Controller\ProfilController::connexionAction' }


user_profil:
    path: profil/
    defaults: { _controller: 'App\Controller\ProfilController::showAction' }

profil_update_user:
    path: profil/update
    defaults: { _controller: 'App\Controller\ProfilController::updateAction' }
    methods:  [POST]

groupe_show:
    path: groupe/show
    defaults: { _controller: 'App\Controller\GroupeController::showAction' }

groupe_add:
    path: groupe/add
    defaults: { _controller: 'App\Controller\GroupeController::addAction' }

message_add:
    path: message/add/{groupe}
    defaults: { _controller: 'App\Controller\MessageController::addAction' }

quitter_groupe:
    path: groupe/quitter/{groupe}
    defaults: { _controller: 'App\Controller\MessageController::quitterAction' }

message_insert:
    path: message/insert/{groupe}
    defaults: { _controller: 'App\Controller\MessageController::insertAction' }


event_show:
    path: event/show/{groupe}
    defaults: { _controller: 'App\Controller\EventController::indexAction' }

event_detail:
    path: event/detail/{id}
    defaults: { _controller: 'App\Controller\EventController::detailAction' }

event_calendar_loader:
    path: event/loadcalendar
    defaults: { _controller: 'App\Controller\CalendarEventController::loadCalendarAction' }
    options:
        expose: true

event_add:
    path: event/add/{groupe}
    defaults: { _controller: 'App\Controller\EventController::addAction' }


user_invite:
    path: user/invite/{groupe}
    defaults: { _controller: 'App\Controller\MessageController::userInviteAction' }

user_invite_notif:
    path: user/invitenotif
    defaults: { _controller: 'App\Controller\NotifController::showAction' }

user_invite_accepte:
    path: user/inviteaccepte/{id}
    defaults: { _controller: 'App\Controller\NotifController::accepterAction' }

user_invite_refuser:
    path: user/inviterefuser/{id}
    defaults: { _controller: 'App\Controller\NotifController::refuserAction' }

entreprise_add:
    path: entreprise/add
    defaults: { _controller: 'App\Controller\EntrepriseController::addAction' }

entreprise_show:
    path: entreprise/show/{id}
    defaults: { _controller: 'App\Controller\EntrepriseController::showAction' }

entreprise_actu_insert:
    path: entreprise/actu/insert/{id}
    defaults: { _controller: 'App\Controller\EntrepriseController::actuInsertAction' }


dashboard_show:
    path: dashboard/
    defaults: { _controller: 'App\Controller\DashboardController::showAction' }

actu_show:
    path: actu/
    defaults: { _controller: 'App\Controller\ActuEntrepriseController::indexAction' }

admin_groupe:
    path: groupe/admin/{groupe}
    defaults: { _controller: 'App\Controller\AdminGroupeController::indexAction' }

admin_groupe_delete:
    path: groupe/admin/delete/{groupe}/{user}
    defaults: { _controller: 'App\Controller\AdminGroupeController::deleteAction' }

admin_groupe_upAdmin:
    path: groupe/admin/upadmin/{groupe}/{user}
    defaults: { _controller: 'App\Controller\AdminGroupeController::upAdminAction' }

admin_user:
    path: /admin/user
    defaults: { _controller: 'App\Controller\AdminUserController::indexAction' }

#app_bundle:
    # loads routes from the YAML or XML files found in some bundle directory
    #resource: '@AppBundle/Resources/config/routing/'
    #type:     directory
