{% extends 'baseFront.html.twig' %}
{% block container %}
<section class="cover cover-features imagebg space--lg" data-scrim-bottom="9">
                <div class="background-image-holder">
                    <img alt="background" src="{{ asset('assets/Stack/img/perso/meetingDeux.jpg') }}" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-7">
                            <h1>
                                After-tech un projet avant tout Open source et public
                            </h1>
                            <p class="lead">
                                Notre objectif est aux long terme de faire participer toute la communautée d'after-tech à ça création et à son amélioration. 
                               
                            </p>
                            <a class="btn btn--primary type--uppercase" href="https://github.com/saroumougame/afterWork2">
                                <span class="btn__text">
                                    voir notre github
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature feature--featured feature-1 boxed boxed--border bg--white">
                                <h5>Meilleur contributeur au projet</h5>
                                <p>
                                    Nicolas & Sridar 
                                </p>
                                <a href="#">
                                    Lire leur histoire
                                </a>
                                <span class="label">Félicitation</span>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-1 boxed boxed--border bg--white">
                                <h5>Remerciement au deuxieme contributeurs.</h5>
                                <p>
                                    Hate de vous voir ici 
                                </p>
                                <a href="#">
                                    Une futur histoire
                                </a>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-1 boxed boxed--border bg--white">
                                <h5>Remerciement au troisiemes contributeurs.</h5>
                                <p>
                                    Hate de vous voir ici 
                                </p>
                                <a href="#">
                                    Une futur histoire
                                </a>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable bg--secondary">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-8 col-lg-7">
                            <h2>de A - Z tout le monde peut importe les compétance peut apporté son soutient au projet</h2>
                            <p class="lead">
                                Le projet est principallement un site web, donc nous avons besoins de contribution en programmation ! 
                                Nous utilisons des technique basique afin que tout le monde même les juniors puissent nous aider ! <br />
                                HTML - CSS - JAVASCRIPT - JQUERY
                                <br /> ça te parle ? alors fonce nous rejoindre !

                            </p>
                            <p class="lead">
                              Mais un projet se n'est pas seulement du code, c'est aussi des idée, des étapes, des solutions, de la communication... etc <br />
                              Peut importe tes compétances vient discuter avec nous et nous donné tes idée, tes points de vue et on serra ravis de te faire contribuer à cette manifique avennture. 
                            </p>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="text-block">
                                <h5>Global</h5>
                                <p>
                                    afterTech@gmail.com
                                </p>
                            </div>
                            <div class="text-block">
                                <h5>Code</h5>
                                <p>
                                    Dépot github
                                  <a href=""> <br /> dépot after-tech. Licence GNU v.3 - base Symfony Framework.</a> 
                                </p> 
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <div class="feature">
                                <div class="radial" data-value="60" data-size="208" data-bar-width="8" data-color="#4a90e2">
                                    <span class="h3 radial__label">Conception du site</span>
                                </div>
                                <!--end radial-->
                                <p>
                                Les fonctionnalitée de bases sont la mais toutes vos idée sont les bienvenues.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="feature">
                                <div class="radial" data-value="60" data-size="208" data-bar-width="8" data-color="#4a90e2">
                                    <span class="h3 radial__label">Front - end</span>
                                </div>
                                <!--end radial-->
                                <p>
                                    Ici on peut suivre l'avancée du front (tout se que vous voyer afficher).
                                    Deux templates sont utilises. seul des compétances en HTML / CSS sont necessaires. <Br />
                                    Bootstrap 4 est un plus. 

                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="feature">
                                <div class="radial" data-value="70" data-size="208" data-bar-width="8" data-color="#4a90e2">
                                    <span class="h3 radial__label">Back - end</span>
                                </div>
                                <!--end radial-->
                                <p>
                                    Le traitement de la donnée, et la sécurisation du site, Ajout de fonctionnalitées.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="imageblock switchable feature-large bg--dark">
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                    <div class="background-image-holder">
                        <img alt="image" src="{{ asset('assets/Stack/img/perso/meeting.jpg') }}" />
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h2>Et si un after-work permettais la création d'after-tech ? </h2>
                            <p class="lead">
                                Nous somme deux jeunnes étudiants de l'esgi. Quand nous avons imaginé se projet, nous l'avons imaginé comme une aventure ou tout le monde pourrais prendre part et participer. 
                            </p>
                            <p class="lead">
                                C'est donc avec grand plaisir que nous somme pret à organiser les premiers After-tech avec le / les premiers contributeurs. Afin de leur montrer à quoi ressemble notre projet dans la vraie vie, à quoi doit ressemblé un after-tech et discuté tous ensemble de l'avenir de se projet qui n'est pas "notre projet" mais bien "votre aventure".
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-8">
                            <h2>Contactez nous</h2>
                            <p class="lead">
                               Peut importe qui vous étes, que vous n'aillez auccune idée de comment participer ou juste des questions, nous somme ouvert à tous et à toute. 
                               Nous somme comme une famille et heureux de pouvoir discuter, répondre à vos questions. 
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-5">
                            <p class="lead">
                                E:
                                <a href="#">afterTech@gmail.com</a>
                                <br /> P: 0652******
                            </p>
                            <p class="lead">
                                nous répondront dans les plus bref delais.
                            </p>
                            <p class="lead">
                                Ouvert de 10H à 17H tout les jours
                            </p>
                        </div>
                        <div class="col-md-6 col-12">
                            <form class="form-email row" data-success="Thanks for your enquiry, we'll be in touch shortly." data-error="Please fill in all fields correctly.">
                                <div class="col-md-6 col-12">
                                    <label>Votre Nom:</label>
                                    <input type="text" name="Name" class="validate-required" />
                                </div>
                                <div class="col-md-6 col-12">
                                    <label>Email:</label>
                                    <input type="email" name="email" class="validate-required validate-email" />
                                </div>
                                <div class="col-md-12 col-12">
                                    <label>Message:</label>
                                    <textarea rows="4" name="Message" class="validate-required"></textarea>
                                </div>
                                <div class="col-md-5 col-lg-4 col-6">
                                    <button type="submit" class="btn btn--primary type--uppercase">Envoyer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
</section>
 {% endblock %}